@import url(//db.onlinewebfonts.com/c/f1518d27fe5f1c3e6c9f5819674ba3d1?family=ArTarumianMHarvats);

*{
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 33vh;
    line-height: 33vh;
    margin-top: 0;
    word-break: break-all;
    font-family: 'ArTarumianMHarvats';
    text-align: center;
}