*{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: max-content;
    display: flex;
    justify-content: center;
}
.wrapper > div{
    background-color: #ddd;
    margin: 1px;
}
.showSquare{
    width: 200px;
    height: 100px;
}